.HeaderContainer {
  background-color: rgba(203, 156, 56, 0.695);
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 10px black;
}

.LogoContainer {
  padding: 16px;
  max-width: 19%;
  border-radius: 0 50% 50% 0;
  height: 50%;
  align-self: center;
  background-color: rgba(71, 26, 26, 0.531);
  box-shadow: 2px 2px 10px gray;
}

.LogoContainer > p {
  word-break: keep-all;
}
.HeaderNavBar {
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.FlexSize {
  flex: 1;
}

.divider {
  margin: 20px 0;
  padding: 4px 0;
  border-right: 2px solid rgba(71, 26, 26, 0.425);
}

.ContactsNavBarTextCont.divider {
  border-right: unset;
  border-bottom: unset;
}

@media (max-width: 500px) {
  .HeaderNavBar {
    flex-direction: column;
  }
  .divider {
    border-bottom: 2px solid rgba(71, 26, 26, 0.425);
    border-right: unset;
    margin: 0 20px;
  }
}

.NavButton {
  width: 80%;
  box-shadow: 5px 5px 10px gray;
  background-color: rgba(71, 26, 26, 0.531);
}

.NavButton:hover {
  transform: scale(1.1);
  transform-origin: center;
  transition: 1s;
  background: linear-gradient(
    50deg,
    #b87517,
    #e2a248,
    #ba6d1f,
    #b49999ee,
    #953a23
  );
  background-size: 1000% 1000%;
  animation: NavButtonAnimation 10s ease infinite;
  zoom: 110%;
}

@keyframes NavButtonAnimation {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@media (min-width: 800px) {
  .HeaderText {
    font-size: 1.75em;
  }
}
