.ContactsContainer {
  background-color: rgba(71, 26, 26, 0.425);
  width: 100%;
  display: flex;
  min-height: 70px;
  flex-direction: row;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;
}

.InstaContainer {
  height: 100%;
  width: 20%;
}
.PhotoInsta {
  height: 25%;
  width: 25%;
}

.VKContainer {
  height: 100%;
  width: 20%;
}
.PhotoVK {
  height: 25%;
  width: 25%;
}

.PhoneNumberContainer {
  height: 100%;
  width: 20%;
}

.PhoneNumberText {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
}
