.WorksText {
  width: 100%;
  background-color: white;
  border-radius: 30px;
}

.MyWorksText {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
}

.Works {
  padding: 16px;
  background-color: white;
  border-radius: 100px;
  box-shadow: 10px 20px 0 rgba(71, 26, 26, 0.425);
}

.Work {
  border: solid;
  border-color: rgba(150, 114, 68, 0.521);
  display: flex;
  max-width: 100%;
  box-shadow: 10px 10px 20px gray;
}

.WorkContainer {
  max-width: 75%;
}
