.PhotoAboutContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 100px;
  box-shadow: 10px 20px 0 #f4db7d;
}

.PhotoAbout {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}

.photo {
  flex: 1;
  min-width: 30%;
}

.DianaAvatar {
  width: 75%;
  box-shadow: 10px 10px 20px gray;
  border: solid;
  border-color: rgba(150, 114, 68, 0.521);
}

.DianaAvatar:hover {
  background: linear-gradient(
    50deg,
    #b87517,
    #e2a248,
    #ba6d1f,
    #b49999ee,
    #953a23
  );
  background-size: 1000% 1000%;
  animation: AvaBorderGradient 5s ease infinite;
}

@keyframes AvaBorderGradient {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.AboutTextContainer {
  max-width: 100%;
}

.AboutText {
  font-size: 2em;
}

@media (max-width: 600px) {
  .PhotoAbout {
    display: flex;
    flex-direction: column;
  }
}
