.layout {
  background: linear-gradient(50deg, #e2a24878, #b49999ee);
  background-size: 1000% 1000%;
  animation: LayoutGradient 5s ease infinite;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

@keyframes LayoutGradient {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
